    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">About {{title}}</li>
              <li><a href="/about">General Aboutishness</a></li>
              <li class="active"><a href="/about/floss">We Love Open Source</a></li>
              <li><a href="/about/faq">FAQ</a></li>
              <li class="nav-header">Help</li>
	      <li><a href="/about/javascript">Activating Javascript</a></li>
              <li class="nav-header">Legal Stuff</li>
	      <li><a href="/about/tou">Terms of Use</a></li>
	      <li><a href="/about/privacy">Privacy &amp; Data Retention Policy</a></li>
	    </ul>
	  </div>
	</div>

	<div class="span9">
	  <div class="hero-unit">
	    <p class="front">
	      This site could not have been made without some
	      exceptional open source packages. It would be gauche (and
	      a violation of some licenses) if we didn't alert the world
	      to their awesomeness.
	    </p>

	    <p class="front">
	      For rendering and displaying web pages, we use jQuery,
	      Backbone.js, Bootstrap and Handlebars.js. We're eventually
	      going to get around to using Less.
	    </p>
	    <p class="front">
	      <a href="http://jquery.com">jQuery</a> is an extremely
	      popular tool for (among other things) manipulating elements on
	      a web page and enabling cross-browser XHR support. It is released
	      under a dual MIT / GPL license. jQuery uses the
	      <a href="sizzlejs.com">Sizzle selector engine</a> internally
	      which is released under MIT, BSD and GPL licenses.
	    </p>
	     
	    <p class="front">
	      <a href="http://documentcloud.github.com/backbone/">Backbone.js</a>
	      is a MVC (Model-View-Controller) framework for JavaScript
	      applications. Backbone is copyrighted by Jeremy Ashkenas and
	      DocumentCloud but released under <a href="https://github.com/documentcloud/backbone/blob/master/LICENSE">a MIT license</a>. Backbone.js is
	      mature, functional, well-documents and it's easy to find
	      examples of its use.
	    </p>

	    <p class="front">
	      <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>
	      forms the core of our CSS styling and many user elements. It is
	      <a href="https://github.com/twitter/bootstrap/blob/master/LICENSE">released
		under an Apache License</a> and is awesome.
	    </p>

	    <p class="front">
	      We use a templating library from Yehuda Katz called
	      <a href="http://handlebarsjs.com/">Handlebars.JS</a>. Think of it
	      as "<a href="http://mustache.github.com/">Mustache</a> on
	      steroids," and you wouldn't be far off. 
	      <a href="https://github.com/wycats/handlebars.js/blob/master/LICENSE">Handlebars</a>
	      is released under an MIT license.
	    </p>

	    <p class="front">
	      On the server side we use <a href="http://nodejs.org">Node.js</a>
	      as a framework for our application logic. We use the popular
	      <a href="http://expressjs.com/">Express.js</a> and 
	      <a href="http://www.senchalabs.org/connect/">Connect</a>
	      packages to manage routing HTTP requests within our app.
	    </p>

	    <p class="front">
	      We really wanted to stay with
	      <a href="http://mysql.com/">MySQL</a> for our persistence
	      tier, but honestly, we're mildly freaked out by the way that
	      Oracle is engaging the community. We may eventually go back
	      to MySQL or <a href="http://drizzle.org/">Drizzle</a>, but
	      for right now we're using
	      <a href="http://www.postgresql.org/">PostgreSQL</a> and
	      <a href="http://www.mongodb.org/">MongoDB</a>. We're using
	      the <a href="http://nodejsdb.org/">node-db</a> package to
	      let our node app server(s) talk to our persistence tier and
	      the <a href="https://github.com/christkv/node-mongodb-native">node-mongodb-native</a> package to do the same thing w/ mongo.
	    </p>

	    <p class="front">
	      <a href="https://github.com/ciaranj/node-oauth">node-oauth</a>
	      is our node to twitter middleware and we use two internal
	      packages, <a href="https://github.com/OhMeadhbh/node-mug">node-mug</a>
	      and <a href="https://github.com/OhMeadhbh/node-props">node-props</a>,
	      to generate high quality random UUIDs and load remote properties
	      files.
	    </p>

	    <p class="front">
	      We use <a href="http://socket.io/">Socket.IO</a> to manage our
	      reverse communication channel. And you probably loaded this page
	      off a machine running nodejitsu's
	      <a href="https://github.com/nodejitsu/node-http-proxy">node-http-proxy</a>
	      package.
	    </p>

	    <p class="front">
	      We owe an enormous debt of gratitude to the individuals
	      responsible for these packages. Track us down sometime, we'll
	      buy you a beer.
	    </p>
	  </div>
	</div>
      </div>
    </div>

