    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">About {{title}}</li>
              <li class="active"><a href="/about">General Aboutishness</a></li>
              <li><a href="/about/floss">We Love Open Source</a></li>
              <li><a href="/about/faq">FAQ</a></li>
              <li class="nav-header">Help</li>
	      <li><a href="/about/javascript">Activating Javascript</a></li>
              <li class="nav-header">Legal Stuff</li>
	      <li><a href="/about/tou">Terms of Use</a></li>
	      <li><a href="/about/privacy">Privacy &amp; Data Retention Policy</a></li>
	    </ul>
	  </div>
	</div>

	<div class="span9">
	  <div class="hero-unit">
	    <p class="front">
	      <strong>{{title}}</strong> is a sample web application written in
	      Javascript. It is intended to demonstrate the structure
	      and function of a typical
	      <a href="http://nodejs.org/">node.js</a> web app.
	      It also demonstrates the use of several popular
	      packages used by node developers.
	    </p>

	    <p class="front">
	      Before you can use {{title}}, you have to register. Registration
	      is pretty easy; it involves acknowledging you've read our
	      terms of service and then telling twitter it's okay for us
	      to read some of your account information and potentially make
	      a few tweets on your behalf.
	    </p>

	    <p class="front">
	      We use a Twitter feature called 
	      <a href="https://dev.twitter.com/docs/auth/oauth/faq">OAuth</a>
	      that lets you authenticate
	      yourself without entering your Twitter password on our site.
	      Please note,
	      <strong>we will never ask you for your password, but Twitter
	      may.</strong> So if you click around our site and you find
	      a page asking for a password, please make sure it's the
	      <a href="https://twitter.com/">real Twitter site</a>.
	    </p>

	    <p class="front">
	      Click on the <a href="/register">register link</a> and
	      try it out!
	    </p>

	    <noscript>
	      <p class="front">
		Before you can use {{title}}, you'll have to make sure
		JavaScript is enabled. Visit the
		<a href="/about/javascript">javascript section</a> in our
		online help system to see how to do this.
	      </p>
	    </noscript>
	  </div>
	</div>
      </div>
    </div>

