    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">About {{title}}</li>
              <li><a href="/about">General Aboutishness</a></li>
              <li><a href="/about/floss">We Love Open Source</a></li>
              <li><a href="/about/faq">FAQ</a></li>
              <li class="nav-header">Help</li>
	      <li class="active"><a href="/about/javascript">Activating Javascript</a></li>
              <li class="nav-header">Legal Stuff</li>
	      <li><a href="/about/tou">Terms of Use</a></li>
	      <li><a href="/about/privacy">Privacy &amp; Data Retention Policy</a></li>
	    </ul>
	  </div>
	</div>

	<div class="span9">
	  <div class="hero-unit">
	    <h2>Activating Javascript</h2>
	    <p>
	      There's supposed to be a bit of help text here about
	      activating JavaScript in various browsers. But I'm
	      very lazy and I haven't finished it yet.
	    </p>
	  </div>
	</div>
      </div>
    </div>

