<script type="text/javascript" src="/js/handlebars-1.0.0.beta.6.js"></script>
<script type="text/javascript" src="/js/mail.js"></script>

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit" id="content">
      	
      </div>
    </div>
  </div>
</div>

<script id="signup" type="text/x-handlebars-template">
  <h2>Sign-Up</h2>
  <p>
  	Super! We just sent you an email to the address you provided. When you receive it,
  	click on the enclosed link to activate your account.
  </p>
</script>

<script id="recovery" type="text/x-handlebars-template">
  <h2>Password Recovery</h2>
  <p>
  	Okay, we just sent you an email to the address you provided. When you receive it,
  	click on the enclosed link to be taken to a page where you can change your password.
  </p>
</script>

<script id="post-signup" type="text/x-handlebars-template">
  <h2>whatever</h2>
</script>

<script id="post-recovery" type="text/x-handlebars-template">
</script>

<script id="post-error" type="text/x-handlebars-template">
  <h2>Error</h2>
  <p>
  	Ack. Something happened. Ugh.
  </p>
</script>

