<script type="text/javascript" src="/js/mail.js"></script>

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit">
        <h1>Completing Sign-Up Process</h1>
	<p>
	  Cool! It looks like you found the activation link in your email
	  inbox. Just a second while I look up the activation code and see
	  if it's still valid.
	</p>
	<span id="content"/>
      </div>
    </div>
  </div>
</div>

