<div class="container">
  <div class="row">
    <div class="span12">
    	<h1>register</h1>
    	<p>{{session}}</p>
    </div>
  </div>
</div>

<noscript>
  <div class="container">
    <div class="row">
      <div class="span12">
	<div class="hero-unit">
	  <p class="front">
	    Before you can use {{title}}, you'll have to make sure
	    JavaScript is enabled. Visit the
	    <a href="/about/javascript">javascript section</a> in our
	    online help system to see how to do this.
	  </p>
	</div>
      </div>
    </div>
  </div>
</noscript>
