<script type="text/javascript" src="/js/home.js"></script>

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row">
	<div class="span8">
	  <div class="front-welcome">
	    <div class="bottom-text">
	      <h1 class="pagination-left grey-text">{{title}}</h1>
	      <h3 class="pagination-left grey-text">{{subtitle}}</h3>
	    </div>
	  </div>
	</div>
	<div class="span4">
	    <div class="front-local">
	      <input placeholder="Email" type="text" class="text-input text-email" id="email_local">
	      <input placeholder="Password" type="password" class="text-input text-password" id="password_local">
	      <a class="btn button-login" id="login_local">login</a><br/>
	      <a href="#" class="recovery" id="recovery_local">i forgot my password</a>
	    </div>
	    <div class="front-social" >
	      <a class="btn social twit" id="twitter_social">
		<img src="/img/sign-in-with-twitter-l-sm.png">
	      </a>
	      <a class="btn social fb" id="facebook_social">
		<img src="/img/fbc.jpg">
	      </a>
	    </div>
	    <div class="front-provision">
	      <span class="login-text">need an account?</span>
	      <input placeholder="Full name" type="text" class="text-input text-email" id="name_provision">
	      <input placeholder="Email" type="text" class="text-input text-email" id="email_provision">
	      <input placeholder="Password" type="password" class="text-input text-password" id="password_provision">
	      <a class="btn button-login" id="signup_provision">sign-up</a><br/>
	    </div>
      </div>
    </div>
  </div>
</div>

<noscript>
  <div class="container">
    <div class="row">
      <div class="span12">
	<div class="hero-unit">
	  <p class="front">
	    Before you can use {{title}}, you'll have to make sure
	    JavaScript is enabled. Visit the
	    <a href="/about/javascript">javascript section</a> in our
	    online help system to see how to do this.
	  </p>
	</div>
      </div>
    </div>
  </div>
</noscript>
