<script type="text/javascript" src="/js/handlebars-1.0.0.beta.6.js"></script>
<script type="text/javascript" src="/js/test.js"></script>

<style text="text/css">
.x-front-welcome {
    position: relative;
    display: block;
    height: 440px;
    background-image:url('/img/fire.jpg');
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.x-bottom-text {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    background-color: rgba( 0,0,0,0.5 );
    padding: 6px;
}

.x-buttons {
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 70px;
}

.x-button {
    width: 200;
}

.x-grey-text {
    color: #F5F5F5;
}

.x-text-input {
    height: 20px;
    border: 2px solid;
}

.x-text-name {
    width: 261px;
}

.x-text-email {
    width: 180px;
}
.x-text-password {
    width: 180px;
}

.x-button-login {
    padding: 0px;
    margin-bottom: 9px;
    margin-right: 0px;
    border: 2px solid #555;
    width: 73px;
    height: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}

.x-recovery {
}

.x-front-social {
    padding: 13px;
    margin-bottom: 30px;
    background-color: rgba(247, 148, 6, 0.5);
    height: 76px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.x-front-local {
    padding: 13px;
    margin-bottom: 30px;
    background-color: rgba(247, 148, 6, 0.5);
    height: 282px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.x-twit {
   line-height: 28px;
}

.x-fb {
   line-height: 26px;
}

.x-social {
   padding: 0px 4px 0px 4px;
   margin-bottom: 9px;
   margin-right: 0px;
   border: 2px solid #555;
   height: 30px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   display: inline-block;
   width: 261px;
   background-color: white;
   text-align: center;
}

.x-centered {
    text-align: center;
}

.x-hidden {
    visibility: hidden;
}
</style>

<div id="content"/>

<noscript>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="hero-unit">
          <p class="front">Before you can use {{title}}, you'll have to make sure JavaScript is enabled.</p>
        </div>
      </div>
    </div>
  </div>
</noscript>

<script id="test" type="text/html">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span8">
            <div class="x-front-welcome">
              <div class="x-bottom-text">
                <h1 class="pagination-left x-grey-text">{{title}}</h1>
                <h3 class="pagination-left x-grey-text">{{subtitle}}</h3>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="x-front-social" >
              <a class="btn x-social x-twit" id="twitter_social"><img src="/img/sign-in-with-twitter-l-sm.png"></a>
              <a class="btn x-social x-fb" id="facebook_social"><img src="/img/fbc.jpg"></a>
            </div>
            <div class="x-front-local">
              <input placeholder="Name" type="text" class="x-hidden x-text-input x-text-name" id="name_local"/>
              <input placeholder="Email" type="text" class="x-hidden x-text-input x-text-email" id="email_local"/>
              <button class="x-hidden btn x-button-login" id="forgot_local">remind me</button><br/>
              <input placeholder="Password" type="password" class="x-hidden x-text-input x-text-password" id="password_local_1"/>
              <button class="x-hidden btn x-button-login" id="login_local">login</button><br/>
              <input placeholder="Password (again)" type="password" class="x-hidden x-text-input x-text-password" id="password_local_2"/>
              <button class="x-hidden btn x-button-login" id="register_local">register</button><br/>
              <span id="remember" class="x-hidden"><input type="checkbox" id="remember_local">&nbsp;remember me after i log in</span><br/>
              <span id="forgot" class="x-hidden"><a href="#" class="x-recovery _forgot">i forgot my password</a></span><br/>
              <span id="register" class="x-hidden"><a href="#" class="x-recovery _register">register for a new account</a></span><br/>
              <div class="btn-group x-buttons" data-toggle="buttons-radio">
                <button class="btn _login">login</button>
                <button class="btn _forgot">forgot</button>
                <button class="btn _register">register</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
